<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">    
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Projects</title>
</head>
<body class='index-body d-flex'>
    
    <div class='content-container mt-4 col-10 '>
        <h1 class='display-4 mb-4'>Recent Work</h1>

        <div class='project-item-container border-bottom-tan' >
            <div class='project-container d-flex flex-row '>
                <div class="project-img-container ">
                    <img class='project-img-card ' src='../images/elephant-ss.png' alt="elephant-screenshot"/>  
                </div>
                <div class='description-container position-relative mr-5'>
                    <h5 class='card-title'>Elephant </h5>
                    <h6 class="card-subtitle mb-2 text-muted">December 2020 - BCIT Multi Program Group Project</h6>
                    <p class="card-text">A React Native app created to connect cognitively impaired individuals with students or educators to socialize and engage in activities they are interested in.</p>
                    <p class="card-text"> On the backend I created an API for the app, where it connect to the database which serves the functionalities of the project. </p>
                    <a href='https://github.com/eswong610/elephantapi'><i class="fa fa-github mr-1" aria-hidden="true" style='font-size: 1rem;' ></i>Github Repo</a>
                    <a class='project-image-text ' href='http://elephantidsp.herokuapp.com/'><i class="fa fa-external-link mr-1" aria-hidden="true" style='font-size: 1rem;' ></i>Go to Api Site</a>  
                    <p class='card-text text-muted'>Technologies used: NodeJS, MongoDB, React Native, Heroku, NestJS</p>
                </div>
            </div>
        </div>

        <div class='project-item-container border-bottom-tan' >
            <div class='project-container d-flex flex-row '>
                <div class="project-img-container ">
                    <img class='project-img-card ' src='../images/hotel.png' alt="hotel-screenshot"/>                    
                </div>
                <div class='description-container position-relative mr-5'>
                    <h5 class='card-title'>Hotel Reservation </h5>
                    <h6 class="card-subtitle mb-2 text-muted">December 2020 - BCIT Web C# Application Development</h6>
                    <p class="card-text">A hotel reservation system for the concierge to add in new guests, create new bookings, and check guests in and out of their rooms</p>
                    <p class="card-text"> I worked on the UI as well as the backend logic, making database calls and creating the user flow.  </p>
                    <a class='' href='https://github.com/eswong610/finalhotelreservation'><i class="fa fa-github mr-1" aria-hidden="true" style='font-size: 1rem;' ></i>Github Repo</a>
                    <p class='card-text text-muted'>Technologies used: Windows Forms, SQL, Entity Framework, C#.</p>
                </div>
            </div>
        </div>


        <div class='project-item-container border-bottom-tan' data-aos='fade-down'>
            <div class='project-container d-flex flex-row '>
                <div class="project-img-container ">
                    <img class='project-img-card ' src='../images/audiology-ss.png' alt="audiology-screenshot"/>
                </div>
                <div class='description-container position-relative mr-5'>
                    <h5 class='card-title'>Audiology </h5>
                    <h6 class="card-subtitle mb-2 text-muted">May 2020 - BCIT COMP 2523 Object Oriented Programming 1 Group Project</h6>
                    <h6 class="card-subtitle mb-2 text-muted">October 2020 - BCIT Design 1 - Website Redesign Assignment</h6>
                    <p class="card-text">An Apple Music clone were users can upload music and create playlists from existing songs.</p>
                    <p class='card-text'>I worked on creating the database, helped set up image storage as well as the front end structure.</p>
                    <!-- <p class="card-text">  </p> -->
                    <a href='https://github.com/novlesse/N.W.A><i class="fa fa-github mr-1" aria-hidden="true" style='font-size: 1rem;' ></i>Github Repo</a>
                    <p class='card-text text-muted'>Technologies used: Python, SqlLite, S3 Bucket</p>
                </div>
            </div>
        </div>

        <div class='project-item-container border-bottom-tan' data-aos='fade-down' >
            <div class='project-container d-flex flex-row '>
                <div class="project-img-container ">
                    <img class='project-img-card ' src='../images/fusess1.png' alt="fusess1"/>
                    <div class="middle">
                        
                        
                    </div>

                    
                </div>
                <div class='description-container position-relative mr-5'>
                    <h5 class='card-title'>Fuse </h5>
                    <h6 class="card-subtitle mb-2 text-muted">May 2020 - BCIT Multi Program Group Project</h6>
                    <p class="card-text">Working in a team of four designers and the sole developer, we created an dating web application with a twist. It would generate idea prompts for users to pick up a dying conversation and create more interesting topics for them to talk about.</p>
                    <p class='card-text'>I was provided the design in a pdf format, and built out both the front and backend of the application within a month. </p>
                    <a class=''href='https://github.com/eswong610/fuseidsp'><i class="fa fa-github mr-1" aria-hidden="true" style='font-size: 1rem;' ></i>Github Repo</a>        
                    <a class='project-image-text ' href='http://fuse2020.herokuapp.com/'><i class="fa fa-external-link mr-1" style='font-size: 1rem;' ></i>Go to Site</a>  
                    <p class='card-text text-muted'>Technologies used: NodeJS, MongoDB, EJS, Heroku, Socket.io</p>
                    
                </div>
            </div>
        </div>

        <div class='project-item-container border-bottom-tan' data-aos='fade-down' >
            <div class='project-container d-flex flex-row '>
                <div class="project-img-container ">
                    <img class='project-img-card ' src='../images/evergreen.png' alt="evergreen"/>                    
                </div>
                <div class='description-container position-relative mr-5'>
                    <h5 class='card-title'>Evergreen </h5>
                    <h6 class="card-subtitle mb-2 text-muted">May 2020 - BCIT UX-UI Group Project</h6>
                    <p class="card-text">In a group of four, we designed the graphic interface and user experience of a banking app. It consolidates multiple banking accounts into one application and centralizes users to one place for their banking needs.</p>     
                    <p class='card-text'>I worked on creating and designing the transaction pages, ensuring that they aligned with the app theme, and that users would be able to navigate throughout the section intuitively.</p>  
                    <a class='project-image-text ' href='https://www.figma.com/proto/lYEk2t6jdUYQH5aujNQyHq/Color-Version?node-id=56%3A166&scaling=scale-down'><i class="fa fa-external-link mr-1" style='font-size: 1rem;' ></i>Go to Figma </a>  
                    <p class='card-text text-muted'>Technologies used: Figma</p>
                    
                </div>
            </div>
        </div>

    </div>
    <div class='col-2'>
        <nav class="navbar sticky-top  bg-tan d-flex flex-column align-content-end justify-content-end">
            <a href='/'><img class='logo-img'src='../images/reallogo1.png'</a>
            <a class="navbar-brand nav-link index-link " href="/about">About  </a>
            <a class="navbar-brand nav-link index-link" href="/projects">Projects  </a>
            <a class="navbar-brand nav-link index-link" href="/contact">Contact </a>
        </nav>
    </div>


    <script src="https://use.fontawesome.com/88fa949768.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>